@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
:root {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

svg:hover {
    transform: scale(1.5);
}

/* START OF HEADER */
header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,  #93C5FD, white);
    padding: 25px;
}

header > div >  img {
    height: 450px;
    width: 350px;
}

h1 {
    text-align: center;
    text-shadow: #93C5FD 1px 0 10px;}

header > .about-me {
  box-shadow: 3px 3px green, -3px -3px olive;
  min-height: 355px;
  min-width: 250px;
  max-width: 350px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.about-me > a > svg {
    height: 25px;
    width: 25px;
    padding-right: 15px;
}


/* START OF MAIN CONTENT*/s
main > div > img {
    color: white;
    background-color: black;;
} 


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 25px;
   
}

main div {
    border: 3px solid black;
    height: 550px;
    width: 375px;
}

main > div > svg {
    height: 40px;
    width: 40px;
}

main > div {}

main > div > img {
    height: 350px;
    width: 375px;
    border-bottom: 3px solid black;
}




/*START OF FOOTER */
footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    background: linear-gradient(360deg,  #93C5FD, white);
}

.left-container {
    padding-right: 25px;
}

.left-container > img {
    width: 35px;
    height: 20px;
    vertical-align: middle;

}





.left-container svg {
    height: 50px;
    width: 50px;
    padding-right: 40px;
    margin-top: 25px;
}

footer > img {
    height: 350px;
    max-width: 350px;
}


/* iphone compatible 12pro width*/
@media (max-width: 450px) {
    header {
        display: flex;
        flex-direction: column;
    }
    header > .about-me {
        box-shadow: 3px 3px green, -3px -3px olive;
     }

    footer {
        display: flex;
        flex-direction: column;
    }

}