@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

:root {
    font-family: 'Gideon Roman', cursive;
}

body {
    margin: 0px;
}


header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #93C5FD;
    padding: 25px;

  
}

header > div >  img {
    height: 450px;
    width: 350px;


}

header > .about-me {
  box-shadow: 3px 3px green, -3px -3px olive;
  min-height: 355px;
  min-width: 250px;
  max-width: 350px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-left: 3px;
}

.about-me > svg {
    height: 25px;
    width: 25px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    background-color: #93C5FD;
}

.left-container {
    padding-right: 25px;
}

.left-container > img {
    width: 35px;
    height: 20px;
    vertical-align: middle;

}





.left-container > svg {
    height: 50px;
    width: 50px;
    padding-right: 40px;
    margin-top: 25px;
}

footer > img {
    height: 350px;
    max-width: 350px;
}


/* iphone compatible 12pro width*/
@media (max-width: 428px) {
    header {
        display: flex;
        flex-direction: column;
    }
    header > .about-me {
        box-shadow: 3px 3px green, -3px -3px olive;
     }

    footer {
        display: flex;
        flex-direction: column;
    }

}